.container {
    text-align: center;
    margin: 80px auto;
}

button {
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(45, 143, 107);
}

.question-container, .end-quiz {
    display: none;
    text-align: center;
    margin: 80px auto;
}

ul {
    list-style-type: none;
}